body {
  background-color: #efd69a;
  background-image: radial-gradient(circle, #225505, #10df08, rgb(226, 255, 3));
  background-size: 400%;
  animation: bg-animation 9s infinite;
}

@keyframes bg-animation {
  0% {
      background-position: left
  }
  100% {
      background-position: right;
  }
}






.title h1:hover {
    color: #225505; 
}
.title{
    font-family: monospace;
    font-size: 1.3rem;
    color: white;
    border: 3px dotted white;
    padding: 20px;
    margin-top: 500px auto 0 auto;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: 10px;
    border: 3px dotted white;
    height: 200px;
    width: 900px;
    padding: 20px; /* Add padding to create space from the top */
  }
  .message-container:hover {
    box-shadow: 0 0 10px rgb(1, 77, 0); 
}
  
  .message {
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  
  .sent {
    background-color: rgb(152, 206, 132);
    align-self: flex-end;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .received {
    background-color: rgb(255, 255, 255);
    align-self: flex-start;
    font-family: Arial, Helvetica, sans-serif;
  }
  .message-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: 10px;
    border: 3px dashed rgb(43, 86, 6);;
    height: 200px;
    width: 900px;
    padding: 20px; /* Add padding to create space from the top */
  }
  .message-container-2:hover {
    box-shadow: 0 0 10px white; 
}
.received {
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.sent2 {
    background-color: rgb(236, 143, 56);
    align-self: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}
.message-container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: 10px;
    border: 3px dotted white;
    height: 200px;
    width: 900px;
    padding: 20px; 
}
.message-container-3:hover {
    box-shadow: 0 0 10px rgb(1, 77, 0); 
}

.message {
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .message-container-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: -766px auto 0 auto; 
    border: 3px dashed rgb(43, 86, 6);;
    height: 200px;
    width: 300px; 
    padding: 20px; 
   
  }
  .message-container-4:hover {
    box-shadow: 0 0 10px white; 
}
.message-container-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: 280px auto 0 auto; 
    border: 3px dashed rgb(43, 86, 6);;
    height: 200px;
    width: 300px; 
    padding: 20px; 
   
  }
  .message-container-5:hover {
    box-shadow: 0 0 10px white; 
}
.message-container-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: -520px auto 0 auto;
    border: 3px dashed rgb(43, 86, 6);;
    height: 200px;
    width: 900px;
    padding: 20px; /* Add padding to create space from the top */
    float: right;
  }
  .message-container-6:hover {
    box-shadow: 0 0 10px white; 
}
.message-container-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    float: right;
    margin: -770px auto 0 auto;
    border: 3px dotted white;
    height: 200px;
    width: 900px;
    padding: 20px
}
.message-container-7:hover {
    box-shadow: 0 0 10px rgb(1, 77, 0);  
}
.message-container-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    float: right;
    margin: -260px auto 0 auto;
    border: 3px dotted white;
    height: 200px;
    width: 900px;
    padding: 20px
}
.message-container-8:hover {
    box-shadow: 0 0 10px rgb(1, 77, 0); 
}
.nextentry{
  margin-top: 60px;

}