button {
    padding: 10px;
    background-color: #ff3ade;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.home-link {
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 1; /* Ensure it's above other elements */
  }
  
  .home-icon {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Allows the height to adjust proportionally */
  }
  .next-entry {
    position: absolute;
    top: 70px;
    right: 18px;
    z-index: 1;
  }
  
  .next-entry img {
    width: 50px; /* Set the width to match the house icon */
    height: auto; /* Automatically adjust height */
    border: none;
  }
  