body {
    background-image: radial-gradient(circle, #0a0555, #560a03, rgb(12, 101, 6));
    background-size: 400%;
    animation: bg-animation 9s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap; /* Allow items to wrap onto new lines */
}

@keyframes bg-animation {
    0% {
        background-position: left
    }
    100% {
        background-position: right;
    }
}

.text-container {
    text-align: center;
    margin-bottom: 20px;
}

.tv {
    position: relative;
    width: 180px; /* Adjusted width */
    height: 120px; /* Adjusted height */
    margin: 10px;
    cursor: pointer;
    text-align: center; /* Center button */
    overflow: hidden; /* Ensure button and image stay within TV frame */
}

.tv img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    pointer-events: none; /* Disable click on image */
}

.selected {
    border: 2px solid red; /* Optional: Add a border to the selected TV for emphasis */
}

.tv-button {
    position: absolute;
    width: 40px; /* Adjusted size for button */
    height: 40px; /* Adjusted size for button */
    background-color: #fff;
    border-radius: 50%; /* Make it a circle */
    border: none;
    cursor: pointer;
}

.tv-button:focus {
    outline: none;
}

.tv-button-top-left {
    top: -20px;
    left: -20px;
}

.tv-button-top-right {
    top: -20px;
    right: -20px;
}

.tv-button-bottom-left {
    bottom: -20px;
    left: -20px;
}

.tv-button-bottom-right {
    bottom: -20px;
    right: -20px;
}
.text-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 2.5rem;
    color: #ff0d0d;
}

.text-container h2 {
    font-family: monospace;
}

.text-container {
    border: dotted;
    color: white;
    height: 130px; 
    position: absolute;
align-items: center;
    width: 700px;
    margin-top: -100px; 
}













