:root {
	--gradient: radial-gradient(
		#ff5733
		 #ffef00);



}
body {
	background-color: #efd69a;
	box-sizing: border-box;
    background-image: radial-gradient(circle, #ff5733, #ffef00);
}
.box {
	border: 3px dotted rgb(203, 98, 0);
	padding: 20px;
	width: 600px; 
	height: 180px;
	margin: auto;
	margin-top: 25px;
	text-align: center;
}
.box h1 {
    font-size: 70px; 
}

.box h1:hover {
    color: rgb(255, 123, 0); 
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 4.5rem;
	letter-spacing: 1px;
	color: rgb(255, 255, 255);
	line-height: 50px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 1.5rem;
	letter-spacing: 1px;
	color: rgb(203, 98, 0);
	line-height: 0px;
}

p {
	font-family: monospace;
	text-align: center;

	margin: auto;
	font-size: 22px;
	color: rgb(255, 255, 255)
	}

	strong {
		border-radius: 50%; 
	border-style: solid;
font-size: 25px;
	border-color:rgb(203, 98, 0);
	}

	hr {
		border-width: 2px;
		border-style: dotted;
		width: 1200px; 
		border-color: rgb(203, 98, 0);
	
	}
	.container{
		background-color:  rgb(255, 123, 0);
		border-top: solid rgb(255, 255, 255) 4px;
		padding: 10px;
		width: 30%;
	}
h3 {
	font-family: monospace;
	font-size: 25px;
	color: rgb(255, 255, 255)
}
.group{
	background-color:rgb(255, 255, 255);
	left: 30px;
	position: relative;
	top: -40px;
	width: 66%;
}
h4 {
	font-family: monospace;
	font-size: 18px;
	color: rgb(203, 98, 0);
}
.image1entry1 img {
	width: 460px;
	height: auto;
margin-top: -68px;
margin-left: 0 -25px;
transition: transform 5s ease;
  }
  .image1entry1 img:hover {
    transform: rotate(70deg);
}

  .image1entry2 img {
	width: 460px;
	height: auto; 
	float: left; 
	margin: 0 470px; 
	margin-top: -570px;
	transition: transform 5s ease;
  }
  .image1entry2 img:hover {
    transform: rotate(-70deg);
}

  .image1entry3 img {
	width: 500px;
	height: auto; 
	float: left; 
	margin: 0 958px; 
	margin-top: -700px;
	transition: transform 5s ease;
  }
  .image1entry3 img:hover {
    transform: rotate(70deg);
}
  .entry1.link {
	  background-color: rgb(255, 123, 0);
	  border-top: solid rgb(255, 255, 255) 4px;
	  padding: 10px;
	  width: 30%;
	  margin-top: -70px;
	  color: #FFFFFF; /* Change color to white */
	  font-family: monospace;
	  font-size: 18px;

  }
  .entry-2.link {
	background-color: rgb(255, 123, 0);
	  border-top: solid rgb(255, 255, 255) 4px;
	  padding: 10px;
	  width: 20%;
	  height: px;
	  margin-top: -70px;
	  margin: 0 550px; 
	  color: #FFFFFF; /* Change color to white */
	  font-family: monospace;
	  font-size: 18px;
	  text-align: center;
  }
  .entry-4.link {
	background-color: rgb(255, 123, 0);
	  border-top: solid rgb(255, 255, 255) 4px;
	  padding: 10px;
	  width: 10%;
	  margin: 0 1100px; 
	  margin-top: -100px;
	  color: #FFFFFF; /* Change color to white */
	  font-family: monospace;
	  font-size: 18px;
	  text-align: center;
  }
 