html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}

#songSelector {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}
.next-entry {
  position: absolute;
  top: 70px;
  right: 10px;
  z-index: 1;
}

.next-entry img {
  width: 50px; /* Set the width to match the house icon */
  height: auto; /* Automatically adjust height */
  border: none;
}




  



