body{
  background-color: #f5c146;
  box-sizing: border-box;
}
.container{
  /* max-width: 80vw; */
  padding: 1em;
  margin-left: 3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-transform: inherit;
  background-color: 236, 143, 56;
  
  overflow-x: hidden;
}

marquee{
  background-color: 236, 143, 56;
}

h1{
  writing-mode: vertical-lr;

  background-color: #ffffff;
  color: #f5c146;

  word-spacing: 2px;
  letter-spacing: 1.2px;
  position: absolute;
  left: -10px;
  font-family: Arial, Helvetica, sans-serif;
  transform: rotate(180deg)
}
p{
  text-align: justify;
  letter-spacing: 0.6px;
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 2rem;
}

h2{
  color: rgb(236, 143, 56);
  background-color: 236, 143, 56;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: italic;
  text-transform: uppercase;
  display: inline;
  text-align: center;
 
  
}
h3{
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 2rem;
  font-weight: 100;
  
}





  



