body {

    background-image: radial-gradient(circle, #de65b0, #dd4646, rgb(198, 128, 248));
    background-size: 400%;
    animation: bg-animation 9s infinite;
}

@keyframes bg-animation {
    0% {
        background-position: left
    }
    100% {
        background-position: right;
    }
}

.button {
    font-family: monospace;
}
.home-link {
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 1; /* Ensure it's above other elements */
  }
  
  .home-icon {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Allows the height to adjust proportionally */
  }
  