body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: radial-gradient(circle, red, orange, yellow, pink, green, indigo, blue, purple, white);
    animation: bg-animation 10s infinite alternate;
  }
  
  
  header {
    text-align: center;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    opacity: 0;
    animation: fade-in 2s forwards;
    font-family: allegro;
    font-size: 25px;
    color: rgb(58, 3, 3)
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
  }
  
  .aura-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    opacity: 0;
    animation: fade-in 2s forwards 2s;
  }
  
  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    border: none;
    cursor: pointer;
  }
  
  button.red { background-color: red; }
  button.orange { background-color: orange; }
  button.yellow { background-color: yellow; }
  button.pink { background-color: pink; }
  button.green { background-color: green; }
  button.indigo { background-color: indigo; }
  button.blue { background-color: blue; }
  button.purple { background-color: purple; }
  button.white { background-color: white; }
  
  .aura-description {
    text-align: center;
    opacity: 0;
    animation: fade-in 1s forwards 2s;
  }
  
  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  